<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <span class="navbar-text">
    Created by Andrea Tarquini
  </span>
  <div id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/@h4t0n">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/andreatarquini/">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/h4t0n">
          <i class="fab fa-github-square fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>


</nav>

<main role="main" class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Instagram Search by Multiple Hashtags</h1>
  </div>
  <search-hashtags></search-hashtags>
</main>